body {
    background-color: #EFF5FF;
    color: #082B4B;
    margin-bottom: 100px;
}

a {
    color: #082B4B;
}

a:hover {
    color: #0064c3;
}

a.active {
    color: #0064c3;
}

.row {
    margin: 0;
}

nav.navbar {
    padding: 0;
    margin: 0;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
    height: 72px;
}

img #logo {
    width: 60px;
    height: 60px;
}

#header-B {
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #8B99A9;
}

#header-A {
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #C6D2DF;
}

#header-A::before {
    content: '';
    display: inline-block;
    border-right: solid 230px transparent;
    border-top: solid 72px #8B99A9;
}

#footer {
    height: 72px;
    position: fixed;
    box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.25);
    bottom: 0;
    left: 0;
    right: 0;
}

#footer img {
    width: 20px;
    height: 20px;
}

#footer-B {
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #8B99A9;
}

#footer-A {
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #C6D2DF;
}

#footer-A::before {
    content: '';
    display: inline-block;
    border-right: solid 230px transparent;
    border-top: solid 72px #8B99A9;
}

.card {
    border-radius: 0;
    background-color: #C6D2DF;
    box-shadow: inset -2px -2px 4px 0 rgba(0, 0, 0, 0.25), inset 2px 2px 4px 0 rgba(0, 0, 0, 0.25);
}

.trick-card {
    margin-bottom: 20px;
}

li.paginate {
    list-style: none;
}

li.disabled {
    pointer-events: none;
    opacity: 0.6;
}

ul.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

ul li {
    margin: 40px 10px;
    font-size: 20px;
}

.search-btn {
    background-color: #8B99A9;
    color: #082B4B;
}