{% extends 'base.html.twig' %}

{% block title 'Création' %}

{% block body %}

    <div class="container mt-4">
        <h1>Créer une nouvelle catégorie</h1>
        {{ include('user/trick/_form.html.twig', {form: form}) }}
    </div>

{% endblock %}