{% extends 'base.html.twig' %}

{% block title 'Édition' %}

{% block body %}

    <div class="container mt-4">
        <h1>Mettre à jour la figure</h1>
        {{ include('user/category/_form.html.twig', {form: form}) }}
    </div>

{% endblock %}


