<div class="container mt-4">
    {{ form_start(form) }}

    {{ form_rest(form) }}
    <div class="row justify-content-end">
        <button class="btn justify-self-end"><img src="/images/management/Validate.svg" alt="Validation icon">  Valider
        </button>
    </div>
    {{ form_end(form) }}
</div>
